<launch>
    <node pkg="map_file" type="vector_map_loader" name="vector_map_loader" args="
	    /home/hypark/map/vector_map/190909_rubis_track_2/dtlane.csv 
	    /home/hypark/map/vector_map/190909_rubis_track_2/idx.csv 
	    /home/hypark/map/vector_map/190909_rubis_track_2/lane.csv 
	    /home/hypark/map/vector_map/190909_rubis_track_2/node.csv 
	    /home/hypark/map/vector_map/190909_rubis_track_2/point.csv"/>
	<node pkg="map_file" type="points_map_loader" name="points_map_loader" args="noupdate /home/hypark/map/points_map/190925_rubis_track.pcd"/>
</launch>